body {
    margin: 0;
    color: white;
}

#background {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#left_part {
    grid-row: 1/4;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 1fr 6fr 4fr;
}

#right_part {
    grid-column: 2/3;
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#day_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.forecast {
    border: white 1px solid;
    border-radius: 20px;
    width: 80%;
    height: 100px;
    background-color: rgba(27, 14, 58, 0.664);
}

h1 {
    color: white;
    margin: 10px 0px;
    text-align: center;
}

#search {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#location_today {
    grid-row: 2/3;
}

#location_hours {
    grid-row: 3/4;
}

.hour_block{
    border: 2px white solid;
    width: 130px;
    height: 150px;
    background-color: rgba(27, 14, 58, 0.664);
}

#hour_container {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex:1;
}

#carousel_hour {
    display: flex;
    /* border: 1px solid white; */
    align-items: center;
    justify-content: center;
    margin: 40px 80px 0px 80px;
}

#previous, #next {
    width: 50px;
}

#previous {
    align-self: left;
}

#next {
    margin-left: auto;
}