body {
    margin: 0;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#background {
    width: 100%;
    height: 100vh;
    background-color: rgb(5, 5, 5);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#left_part {
    grid-row: 1/4;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 1fr 6fr 4fr;
}

#right_part {
    grid-column: 2/3;
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#day_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.forecast {
    border: white 1px solid;
    border-radius: 20px;
    width: 80%;
    height: 100px;
    background-color: rgba(95, 85, 119, 0.493);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

}

h1 {
    color: white;
    margin: 10px 0px;
    text-align: center;
}

#search {
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    display:flex;
    gap: 15px;
    align-items: center;    
    font-size: 20px;
}

#location {
    font-size: 20px;
    width: 200px;
}

#searchbtn {
    background-color: rgba(27, 14, 58);
    color: white;
    border-color: white;
    padding: 1px 5px;
    font-size: 16px;
    cursor: pointer;
}

#location_today {
    grid-row: 2/3;
}

#location_hours {
    grid-row: 3/4;
}

.hour_block{
    border: 2px white solid;
    width: 130px;
    height: 150px;
    background-color: rgba(95, 85, 119, 0.493);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: top;
    gap: 20px;
    padding: 20px 10px 0px;
}

#hour_container {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex:1;
}

#carousel_hour {
    display: flex;
    /* border: 1px solid white; */
    align-items: center;
    justify-content: center;
    margin: 40px 80px 0px 80px;
}

#previous, #next {
    width: 50px;
}

#previous {
    align-self: left;
}

#next {
    margin-left: auto;
}

.first_line, .second_line {
    display: flex;
    
}

.first_line {
    font-size: 22px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.second_line {
    font-size: 17px;
    justify-content: space-evenly;
}

.icon_info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.hour {
    font-size: 20px;
    font-weight: bold;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#location_today {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(95, 85, 119, 0.493);
    border-radius: 30px;
    width:50%;
    height: 80%;
    justify-self: center;
    align-self: center;
}

#location_name {
    font-size: 65px;
    font-weight: bold;
}

#date_of_day {
    font-size: 20px;
    margin-bottom: 15px;
}

#current_temp_icon {
    font-size: 60px;
    margin-bottom: 5px;
    align-items: center;
}

#current_weather_desc {
    margin-bottom: 25px;
    font-size: 20px;
}

#current_temp_icon, #current_first_line, #current_second_line {
    display:flex;
    gap: 15px;
}

#current_first_line, #current_second_line {
    font-size: 16px;
    font-style: italic;
    color: rgb(109, 108, 108);
    font-weight: bold;
}

.iconDays {
    height: 40px;
}

.icon_hour {
    width: 50px;
}

#current_icon {
    width: 110px;
}

.description {
    font-size: 14px;
}